*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial, sans-serif;
  font-size: 10px;
  margin: 0;
  /* background-color: blue; */
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('fonts/NHaasGroteskDSW02-55Rg.ttf');
}

.title {
  position: absolute;
  font-size: 26px;
  color: black;
}

.project-name {
  /* background-color: yellow; */
  position: absolute;
  width: 430px;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 20px;
  font-size: 15px;
  z-index: 99999;
}

.submit {
  /* background-color: yellow; */
  position: absolute;
  width: 500px;
  height: auto;
  bottom: 0;
  padding: 0 0 20px 0;
  font-size: 15px;
  z-index: 99999;
  text-align: center;
}

.support {
  /* background-color: yellow; */
  position: absolute;
  width: 500px;
  height: auto;
  bottom: 0;
  right: 0;
  /* padding-top: 70px; */
  padding: 0 20px 20px 0;
  font-size: 15px;
  z-index: 99999;
  text-align: right;
}

.items {
  height: 900px;
  padding: 110px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  font-size: 0;
  perspective: 400px;
  /* overflow:hidden; */
  /* margin-left: -40px; */
  transform-style: preserve-3d;
  scroll-snap-type: x mandatory;
}

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  width: 300px;
  height: calc(100% - 40px);
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: normal;
  color: white;
  /* box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15); */
  /* border: 1px solid black; */
  transform-style: preserve-3d;
  scroll-snap-align: start;
  scroll-margin: 55px;
  vertical-align: top;
}

/* .item:nth-child(12n+1) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+2) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+3) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+4) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+5) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+6) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+7) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+8) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+9) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+10) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+11) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.item:nth-child(12n+12) {
  background-color: #fffff;
  background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey), linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%, lightgrey);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
} */

.item:nth-child(even) {
  transform: scaleX(1.31) rotateY(40deg);
}

.item:nth-child(odd) {
  transform: scaleX(1.31) rotateY(-40deg);
}

a {
  color: black;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

@media screen and (max-width: 815px) {
  .items {
    height: 750px;
    padding: 110px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    font-size: 0;
    perspective: 400px;
    /* overflow:hidden; */
    /* margin-left: -40px; */
    transform-style: preserve-3d;
    scroll-snap-type: x mandatory;
  }
}

@media screen and (max-width: 815px) {
  .item {
    width: 300px;
    height: calc(100% - 40px);
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: normal;
    color: white;
    /* box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15); */
    /* border: 1px solid black; */
    transform-style: preserve-3d;
    scroll-snap-align: start;
    scroll-margin: 55px;
    vertical-align: top;
  }
}

@media screen and (max-width: 815px) {
.project-name {
  /* background-color: yellow; */
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 20px;
  font-size: 12px;
  z-index: 99999;
  }
}

@media screen and (max-width: 815px) {
.support {
  /* background-color: green; */
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 0;
  right: 0;
  /* padding-top: 70px; */
  padding: 0 20px 20px 0;
  font-size: 12px;
  z-index: 99999;
  text-align: right;
  /* visibility: hidden; */
  }
}
